footer {
	width: 95%;
	height: 50px;
	padding: 4% 0;
	text-align: right;

	@media screen and (min-width: 950px) {
    	padding: 2% 0;
    }

	div { 
		display: inline;
	}

	p {
		text-align: left;
		display: block;
	}

	img {
		width: 8%;
		border: 1px solid #fff;

		@media screen and (min-width: 950px) {     
        	width: 3%;
			border: 1px solid #fff;
    	}

    	@media screen and (min-width: 1420px) {     
        	width: 2%;
			border: 1px solid #fff;
    	}
	}
}