.btn {
    //background-color: $lightblue-accent;
    border: 1px solid rgba(255,255,255,.25);
    color: $lightblue-accent;
    cursor: pointer;
    font-size: 1.3rem;
    text-align: center;
    transition: background 1s cubic-bezier(0.760, 0.280, 0.300, 0.855), color 1s cubic-bezier(0.760, 0.280, 0.300, 0.855); /* custom */
}

.btn:hover {
    background-color: $lightblue-accent;
    color: #fff;
}

.btn-invert {
    background-color: #000;
    border: 1px solid #000;
    color: $lightblue-accent;
    cursor: pointer;
    font-size: 20px;
    font-size: 2.0rem;
    text-align: center;
    transition: background 1s cubic-bezier(0.760, 0.280, 0.300, 0.855); /* custom */
}

.btn-invert:hover {
    background-color: $lightblue-accent;
    color: #000;
}    

.btn-download {
    padding: 1.7% 2.5%;
}

.btn-svg {
    cursor: pointer;
}

.btn-svg:hover {
    * {
        stroke: $lightblue-accent;
    }
}

.btn-trailer {
    border: 1px solid white;
    border-radius: 20px;
    display: block;
    padding: 3% 6%;
    margin: 0 auto;
    margin-top: 28%;
    text-transform: uppercase;
    width: 35%;
    
    @media screen and (min-width: '400px') {
        margin-top: 22%; 
        padding: 2% 0;   
    }

    @media screen and (min-width: '540px') {
        margin-left: 35%;
        margin-top: 25%; 
        padding: 2% 0;   
    }

    @media screen and (min-width: '700px') {
        margin-left: 40%;       
        margin-top: 15%;    
        padding: 1% 0;  
        width: 21%;      
    }

    @media screen and (min-width: '1200px') {
        margin-top: 14%; 
        padding: 1% 0;
    }
}

.btn-close {
    cursor: pointer;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: -55px;
    width: 57px;

    @media screen and (min-width: '1200px') {
        margin-right: 3%;
        right: 0;        
    }
}

.btn-close-trailer {
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 15px;
    width: 7%;

    @media screen and (min-width: '1200px') {
        width: 2%;       
    }
}