.logos {
    margin-top: 20%;

    img {
        margin-right: 5%;
        width: 10%;
    }
    
    img:last-child{
        margin-top: 3%;        
        width: 55%
    }
}

.medea-principal {
	display: block;
	margin: auto;
	margin-top: 38%;
    opacity: 1;
	width: 62%;

    @media screen and (min-width: 340px){
        margin-top: 44%;
        opacity: 1;
        width: 58%;
    }

    @media screen and (min-width: 540px){
        margin-top: 22%;
        opacity: 1;
        width: 49%;
    }

	@media screen and (min-width: 768px){
        margin-top: 15%;
         opacity: 1;
        width: 35%;
    }
}